
<main>
  <% if @work.category == "album"%>
    <h2> Edit an <%= @work.category%> </h2>
  <% else %>
    <h2> Edit a <%= @work.category%> </h2>
  <% end %>

  <section>
    <%= render partial: "form", locals: { action_name: "Edit" } %>
  </section>
</main>
