/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

/* Custom bootstrap variables must be set or imported *before* bootstrap. */
@import "bootstrap";

@import "**/*";

.app-header__header h1 {
  color: palevioletred;
  padding-right: 25px;
  margin-right: 15px;
}

h2, h3{
  padding-right: 25px;
  margin-right: 15px;
  color: palevioletred;
}

main {
  padding: 2rem;
}

body, h1, h2, h3, h4, h5 {
  font-family: "Gudea", sans-serif;
}

a:hover {
  text-decoration: none;
  color: palevioletred;
}

.user-votes__container {
  margin-top: 2rem;
}

.works-votes__container {
  margin-top: 2rem;
}

section {
  display: block;
}

.btn-primary {
  background-color: #26A69A;
  color: white;
  border-color: #26A69A;
}

.btn:hover {
  background-color: #00796B;
  color: white;
}